.imagenPrincipal {
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  
    h2 {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding-inline: 15px;
    }
  }