@media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "cono       cono"
        "frutilla   chocolate"
        "dulce      menta";
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      display: flex;
      flex-direction: column;
  
      > * {
        flex: 1;
      }
    }
  
    .logo {
      flex: 1.5;
    }
  
    .menu {
      display: flex;
      flex-direction: column;
  
      > * {
        flex: 1;
      }
    }
  }